<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark priority-order" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">May 14   </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Technology Blog<span class="sr-only">(current)</span></a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> More<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a routerLink="/about" class="dropdown-item waves-light" mdbWavesEffect href="#">About Company</a>
          <a routerLink="/contact-us" class="dropdown-item waves-light" mdbWavesEffect href="#">Contact Us</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>